@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Instrument Sans, sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --text-color: #e5d7fe;
    --secondary-text-color: #ccbfe2;
    --dark-text-color: #0f0e11;
    --accent-color: #8c36e2;
}

body{

    background: var(--dark-text-color);
    color: var(--text-color);
}

html, body{
    height: 100%;
}

.video-container{
    position: relative;
    width: 100%;
    height: -webkit-fill-available;
    z-index: -1;
}

.video-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, #0f0e1130, #0f0e1190);
    background-blend-mode: multiply;
    z-index: 1; 
    pointer-events: none; 
}

.video-container video{
    position: absolute;
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
    object-position: center;
}

/* Main Container */
.main-container{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/* Navigation Bar */
.nav-bar{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    z-index: 1000;
}

.nav-bar .logo{
    font-family: 'Bruno Ace', sans-serif;
    font-size: 1.25rem;
    -webkit-text-stroke: var(--text-color) 2px;
    color: var(--text-color);
    letter-spacing: 1px;
}

.nav-bar .nav-links{
    position: absolute;
    transform: translateX(110%);
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: auto;
    height: 100svh;
    padding: 2rem 3.3rem 2rem 1.5rem;
    background: var(--dark-text-color);
    border-radius: 20px 0 0 20px;
    box-shadow: -1px -1px 0 var(--text-color);
    transition: 0.5s ease-in-out;
    z-index: 10000;
}

.nav-bar .nav-links.open-menubar{
    transform: translateX(0%);
}

.nav-bar .nav-links i{
    font-size: 1.50rem;
    margin-bottom: 8px;
}

.nav-bar .nav-links li a{
    color: var(--secondary-text-color);
    font-size: .9rem;
    transition: 0.5s ease-in-out;
}

.nav-bar .nav-links li a:hover{
    color: var(--accent-color);
}  

.nav-bar .secondary-cta-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.nav-bar .secondary-cta-container #menu-bar{
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-bar .secondary-cta-container .customer-service-btn{
    font-size: .75rem;
    color: var(--dark-text-color);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 8px 16px;
    background: var(--text-color);
    transition: 0.5s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.nav-bar .secondary-cta-container .customer-service-btn:hover{
    background: transparent;
    color: var(--text-color);
}

/* Hero Section */
.hero-section{
    width: 100%;
    height: -webkit-fill-available;
    padding: calc(80px + 2rem) 1.5rem 3rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.hero-text{
    margin-bottom: 24px;
    display: grid;
    gap: 8px;
}

.hero-text h1{
    font-size: 1.5rem;
    font-weight: 500;
}

.hero-text h1 span{
    background: linear-gradient(to right, #731dc9, #fb65bf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text p{
    font-size: .8rem;
    color: var(--text-color);
}

.hero-section .cta-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero-section .cta-container .get-started-btn{
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    padding: 12px 24px;
    background: linear-gradient(to right, var(--dark-text-color), var(--accent-color));
    background-size: 200% 100%;
    background-position: 0 0;
    box-shadow: -0.5px -0.5px 0 var(--text-color),
                0.5px 0.5px 0 var(--dark-text-color);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.hero-section .cta-container .get-started-btn:hover{
    background-position: 100% 0;
    box-shadow: -0.5px -0.5px 0 var(--text-color),
                0.5px 0.5px 0 var(--dark-text-color);
}

.hero-section .cta-container .learn-more-btn{
    color: var(--text-color);
    font-size: 0.8rem;
    margin-bottom: 2px;
    position: relative;
    transition: 0.5s ease-in-out;
}

.hero-section .cta-container .learn-more-btn:hover{
    color: var(--dark-text-color);
}

.hero-section .cta-container .learn-more-btn::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: -4px;
    left: 50%;
    width: 0%;
    height: 1px;
    background: var(--text-color);
    transition: 0.5s ease-in-out;
}

.hero-section .cta-container .learn-more-btn:hover::before{
    width: 100%;
    background: var(--dark-text-color);
}

/* AOS Configuration */
@keyframes fadeDownOpacity {
    from {
        opacity: 0;
        transform: translateY(-100%);
        filter: blur(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

[data-aos="fade-down"] {
    animation: fadeDownOpacity 1.5s ease-in-out forwards;
}

@keyframes slideRightBlur {
    from {
        opacity: 0;
        transform: translateX(-100%);
        filter: blur(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}

[data-aos="slide-right"] {
    animation: slideRightBlur 1.5s ease-in-out forwards;
}


/* Responsive Design */
@media (min-width: 425px){
    .nav-bar .secondary-cta-container .customer-service-btn{
        font-size: .8rem;
        padding: 12px 20px;
    }

    .nav-bar .logo{
        font-size: 1.5rem;
    }

    .nav-bar .secondary-cta-container #menu-bar{
        font-size: 1.5rem;
    }

    .hero-text{
        margin-bottom: 32px;
        gap: 8px;
    }

    .hero-text h1{
        font-size: 1.7rem;
    }

    .hero-text p{
        font-size: .9rem;
    }

    .hero-section .cta-container .get-started-btn{
        font-size: .8rem;
    }

    .hero-section .cta-container .learn-more-btn{
        font-size: .9rem;
    }
}

@media (min-width: 620px){
    .nav-bar{
        padding: 2rem;
    }

    .nav-bar .nav-links{
        padding: 2rem 5.2rem 2rem 1.5rem;
    }

    .hero-section{
        padding: calc(80px + 2rem) 2rem 3rem;
    }

    .hero-text h1{
        font-size: 1.9rem;
    }

    .hero-text p{
        font-size: 1rem;
    }
}

@media (min-width: 768px){
    .nav-bar .secondary-cta-container .customer-service-btn{
        font-size: .7rem;
    }

    .nav-bar .secondary-cta-container #menu-bar{
        display: none;
    }

    .nav-bar .nav-links{
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    .nav-bar .nav-links li a{
        font-size: .8rem;
    }

    .nav-bar .nav-links i{
        display: none;
    }

    .nav-bar .secondary-cta-container{
        gap: 0;
    }
}

@media (min-width:972px){
    .video-container{
        height: 100vh;
    }
    
    .video-container video{
        height: 100vh;
    }

    .nav-bar{
        padding: 2rem 3rem;
    }

    .nav-bar .nav-links{
        gap: 32px;
    }

    .nav-bar .nav-links li a{
        font-size: .9rem;
    }

    .nav-bar .secondary-cta-container .customer-service-btn{
        font-size: .8rem;
        border-radius: 10px;
    }

    .hero-section{
        padding: calc(80px + 2rem) 3rem 3rem;
    }

    .hero-text{
        margin-bottom: 40px;
        gap: 8px;
    }

    .hero-text h1{
        font-size: 2.2rem;
    }

    .hero-text p{
        font-size: 1rem;
    }

    .hero-section .cta-container{
        gap: 24px;
    }

    .hero-section .cta-container .get-started-btn{
        font-size: .9rem;
        padding: 16px 28px;
        border-radius: 10px;
    }
}

@media (min-width:1240px){
    .nav-bar{
        padding: 2.25rem 4rem;
    }

    .hero-section{
        padding: calc(80px + 2rem) 4rem 3rem;
    }
}

@media (min-width: 1326px){
    .nav-bar .logo{
        font-size: 1.75rem;
    }

    .nav-bar .nav-links{
        gap: 40px;
    }
}

@media (min-width:1440px){
    .nav-bar .logo{
        font-size: 2rem;
    }

    .nav-bar .nav-links li a{
        font-size: 1rem;
    }

    .nav-bar .secondary-cta-container .customer-service-btn{
        font-size: .9rem;
        padding: 20px 32px;
    }

    .hero-text h1{
        font-size: 2.4rem;
    }

    .hero-text p{
        font-size: 1.2rem;
    }

    .hero-section .cta-container .get-started-btn{
        font-size: 1rem;
        padding: 20px 32px;
    }

    .hero-section .cta-container .learn-more-btn{
        font-size: 1rem;
    }
}